<section class="table-wrapper">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>What's on the Agenda?</th>
                <th>Persons Assigned</th>
                <th>Due Date</th>
                <th>Date Completed</th>               
            </tr>
        </thead>
    ${todoList.map(each =>
        `<tr>
            <td>${each.todo_text}</td>
            <td>${each.people_assigned}</td>
            <td>${each.due_date} </td>
            <td>${each.date_completed} </td>
        </tr>`
        ).join('')}            
    </table>

    <a class="button is-primary" href="/to-do-list/add-todo">Add To-Do</a>
    <a class="button is-primary" href="/to-do-list/remove-todo">Remove To-Do</a>
</section>