<section class="student-list-wrapper">
    <table class="student-table-wrapper">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Grade</th>
                <th>Sponsored</th>
                <th>Money</th>
                <th>Family</th>
            </tr>
        </thead>
        <tbody>
        ${studentList.map(kid =>
            `<tr>
                <td>${kid.student_id}</td>
                <td><a class="table-links" href="/students/${kid.student_id}">${kid.first_name}</a></td>
                <td>${kid.last_name}</td>
                <td>${kid.age}</td>
                <td>${kid.level}</td>
                <td>${kid.sponsorship}</td>
                <td>${kid.money}</td>
                <td><a class="table-links" href="/families/${kid.families_id}">${kid.name}</a></td>
            </tr>
            `).join('')}
        </tbody>        
    </table>
    <div class="studentlist-btns">
        <a class="form-button-studentslist" href="/students/add-student">Add Student</a>
        <a class="form-button-studentslist" href="/students/delete-student">Delete Student</a>
    </div>
</section>

