<section class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Sponsored</th>
                <th>Money</th>
                <th>Family</th>
            </tr>
        </thead>
    ${studentList.map(kid =>
        `<tr>
            <td>${kid.student_id}</td>
            <td><a href="/students/${kid.student_id}">${kid.first_name}</a></td>
            <td>${kid.last_name} </td>
            <td>${kid.age} </td>
            <td>${kid.sponsorship} </td>
            <td>${kid.money} </td>
            <td><a href="/families/${familyList.family_id}">family</a></td>
        </tr>`
        ).join('')}            
    </table>
</section>