<section class="table-wrapper">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Family ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Church Affiliation</th>
            </tr>
        </thead>
    ${familyList.map(each =>
        `<tr>
            <td>${each.family_id}</td>
            <td><a href="/families/${each.family_id}">${each.name}</a></td>
            <td>${each.location} </td>
            <td>${each.church_affiliation} </td>
        </tr>`
        ).join('')}            
    </table>
</section>