<section class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Sponsorship Status</th>
                <th>Grade</th>
                <th>How much is in their account?</th>
                <th>Family Name</th>
                <th>Sponsor</th>
                
            </tr>
        </thead>
            <tr>
                <td>${studentList.student_id}</td>
                <td>${studentList.first_name}</td>
                <td>${studentList.last_name}</td>
                <td>${studentList.age}</td>
                <td>${studentList.sponsorship}</td>
                <td>${gradeLevel.level}</td>
                <td>${studentList.money}</td>
                <td>${familyName.name}</td>
                <td>${sponsorName.first_name} ${sponsorName.last_name}</td>
            </tr>
            <h3>List of Supplies in Account For ${studentList.first_name} ${studentList.last_name}</h3>
        <thead>  
            <tr>
                <th>Supply ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity in Stock</th>
            </tr>
        </thead>
        ${suppliesList.map(item =>
            `<tr>
                <td>${item.supply_id}</td>
                <td>${item.supply_name}</td>
                <td>${item.unit_cost}</td>  
                <td>${item.quantity}</td>         
            </tr>`
            ).join('')}               
    </table>                        
    </table>
</section>