<section class="families-list-wrapper">
    <table class="families-table-wrapper">
        <thead>
            <tr>
                <th>Family ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Church Affiliation</th>
            </tr>
        </thead>
        <tbody>
            ${familyList.map(each =>
                `<tr>
                    <td>${each.family_id}</td>
                    <td><a class="table-links" href="/families/${each.family_id}">${each.name}</a></td>
                    <td>${each.location} </td>
                    <td>${each.church_affiliation} </td>
                </tr>`
                ).join('')} 
        <tbody>          
    </table>
</section>