<section class="todo-list-wrapper">
    <table class="todo-table">
        <thead>
            <tr>
                <th>What's on the Agenda?</th>
                <th>Persons Assigned</th>
                <th>Due Date</th>
                <th>Date Completed</th>               
            </tr>
        </thead>
        <tbody>
            ${todoList.map(each =>
                `<tr>
                    <td>${each.todo_text}</td>
                    <td>${each.people_assigned}</td>
                    <td>${each.due_date} </td>
                    <td>${each.date_completed} </td>
                </tr>`
                ).join('')} 
        </tbody>           
    </table>
    <div class="studentlist-btns">
        <a class="form-button-studentslist" href="/to-do-list/add-todo">Add To-Do</a>
        <a class="form-button-studentslist" href="/to-do-list/remove-todo">Remove To-Do</a>
    </div>
</section>