<section class="stores-list-wrapper">
    <table class="stores-table-wrapper">
        <thead>
            <tr>
                <th>Store ID</th>
                <th>Name</th>
                <th>Location</th>
            </tr>
        </thead>
    ${storesList.map(each =>
        `<tr>
            <td>${each.store_id}</td>
            <td><a class="table-links" href="/stores/${each.store_id}">${each.name}</a></td>
            <td>${each.location}</td>           
        </tr>`
        ).join('')}            
    </table>
    <div class="studentlist-btns">
        <a class="form-button-studentslist" href="/stores/add-store">Add Store</a>
        <a class="form-button-studentslist" href="/stores/delete-store">Delete Store</a>
    </div>
</section>