<section class="table-wrapper">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Grade ID</th>
                <th>Level</th>
                <th>School</th>
                <th>How Many Students in ${gradeName.level}</th>
                <th>Average Cost for ${gradeName.level}</th>                
            </tr>
        </thead>
            <tr>
                <td>${gradeName.grade_id}</td>
                <td>${gradeName.level}</td>
                <td>${gradeName.name}</td>
                <td>${count.count}</td>
                <td>${cost.sum}</td>
            </tr>
            <h3>List of Supplies For ${gradeName.name} ${gradeName.level}</h3>
            <tr>
                <th>Supply ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity Needed for ${gradeName.level}</th>
            </tr>
        </thead>
        ${suppliesList.map(item =>
            `<tr>
                <td>${item.supply_id}</td>
                <td>${item.supply_name}</td>
                <td>${item.unit_cost}</td>  
                <td>${item.quantity}</td>         
            </tr>`
            ).join('')}               
    </table>            
</section>