<section class="grades-list-wrapper">
    <table class="grades-table">
        <thead>
            <tr>
                <th>Grade Level</th>
                <th>School Name</th>
            </tr>
        </thead>
        <tbody>
            ${gradeList.map(grade =>
                `<tr>
                    <td><a class="table-links" href="/grades/${grade.grade_id}">${grade.level}</a></td>
                    <td>${grade.name}</td>
                </tr>
                `).join('')} 
        </tbody>       
    </table>
</section>