<section class="table-wrapper">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Family ID</th>
                <th>Name</th>
                <th>How many students in family?</th>
                <th>Location</th>
                <th>Church Affiliation</th>
                <th>How much is in their total account?</th> 
                <th>Students in the family</th>      
            </tr>
        </thead>
            <tr>
                <td>${familyList.family_id}</td>
                <td>${familyList.name}</td>
                <td>${studentNum.count}</td>
                <td>${familyList.location}</td>
                <td>${familyList.church_affiliation}</td>
                <td>${familyAccount.sum}</td>
            ${studentList.map(kid =>
                `
                <td>${kid.first_name} ${kid.last_name}</td>
                <td>
                    <figure class="image is-32x32">
                        <img class="is-rounded" src="${kid.student_photo}">
                    </figure>
                </td>                
                `).join('')} 
            </tr>          
    </table>