<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>NonProfit Organizer | ${title}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../stylesheets/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Quicksand&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"/> -->
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
</head>
<body>
    <div class="footer-from-head">
        <div id="navbarBasicExample" class="nav-wrapper">
            <div class="nav">
                <a class="navbar-item" href="/">Home</a>
                <div class="navbar-left">
                    <div class="nav-items">
                        ${!!is_logged_in ? `
                            <a class="index-buttons" href="/users/${userName[0]}">
                                ${userName[0]}
                            </a>
                        ` : `
                            <a class="index-buttons" href="/users/signup">
                                Sign Up
                            </a>
                        `}
                        ${nav}
                    </div>
                </div>
            </div>
        </div>
        <div class="template-title-container">
            <h1 class="partial-title">${title}</h1>
            <main class="template-container">${partial}</main>
        </div>
        <footer class="footer-nav">
                <div class="footer-items">
                    <div class="more-footers">
                        <p class="footer-notes">Site Created By <a href="https://github.com/jf-2020">Jack Faulk</a> & <a href="https://github.com/jf-2020">Liz Aitken</a></p>
                    </div>
                    <p class="footer-links">               
                        <a href="/students">Students</a>
                        <a href="/sponsors">Sponsors</a>
                        <a href="/stores">Stores</a>
                        <a href="/grades">Grades</a>
                        <a href="/families">Families</a>
                    </p> 
                </div>
        </footer>
    </div>
</body>
</html>